* text=auto

/.github export-ignore
/tests export-ignore
/.dockerignore export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/CONTRIBUTING.md export-ignore
/Dockerfile export-ignore
/makefile export-ignore
/phpunit.xml export-ignore
/README.md export-ignore
/ruleset.xml.dist export-ignore
