name: test-suite

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test PHP 8.1
        run: make test PHP=8.1
      - name: Test PHP 8.0
        run: make test PHP=8.0
      - name: Test PHP 7.4
        run: make test PHP=7.4
      - name: Test PHP 7.3
        run: make test PHP=7.3
      - name: Test PHP 7.2
        run: make test PHP=7.2
      - name: Test PHP 7.1
        run: make test PHP=7.1
      - name: Test PHP 5.6
        run: make test PHP=5.6
      - name: Test PHP 5.5
        run: make test PHP=5.5
      - name: Test PHP 5.4
        run: make test PHP=5.4
      - uses: codecov/codecov-action@v3
        with:
          directory: build
